*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-width: 1130px;
}

.App-logo {
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
}

.App-header {
  background-color: #4c80ac;
  height: 50px;
  color: rgba(2, 8, 4, 0.88);
  width: 100%;
  border:3px solid #0f0f0f;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
