.Product{
    display: flex;
    margin: 10px;
    border :2px solid black;
    flex-direction: row;
    justify-content: space-between;
}
.Product button{
    display: flex;
    margin-right: 20px;
    margin-bottom: 10px;
    flex-direction: row;
    align-content: flex-start;
    height: 30px;
    align-self:flex-end;
    font-size: 16px;

}
.ProductLeftGroup{
    min-width: 80%;
    display: flex;
    margin: 10px;
  /*  border :2px solid red;*/
    flex-direction: row;
    justify-content: flex-start;
}
.ProductDescriptionGroup{
    display: flex;
    margin: 10px;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 2em;
}
.ProductDescriptionGroup textarea{
    min-width: 50%;
    min-height: 100px;
}
.ProductImage{
    width: 200px;
    height: 170px;
}

