
.ProductHeader{
    width: 98%;
    border: 1px solid black;
    margin:10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:  flex-start;

}
.ProductHeaderSearch{
    min-width: 65%;
    margin:inherit;
}
.searchInput,label,option{
    font-size: 18px;
}