.footerContainer{
    width: auto;
    height: 50px;
    /*border: 1px dotted black;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footerTools{
    margin-top: 10px;
    max-width: 300px;
    min-width: 150px;
    height: 50px;
    /*border: 1px solid lightgreen;*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.enabled{

    font-size:24px;
    color: green;
}
.disabled{
    font-size:24px;
    color: red;
    pointer-events:none;

}