.ProductEditorSaveBtn{
    font-size: 14px;
}
.ProductEditorContainer{
 height: 605px;
 width: auto;
 border: 3px solid black;
 margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    padding: 10px;
    margin-right: 10px;
    justify-content: space-around;
 }
img{
    width: auto;
    max-height:200px;
    height: auto;
    padding: 10px;

}
#imgUrl{
    width: 500px;
}
.EditProductDescription{
    min-width: 400px;
    min-height: 150px;
}
.ProductEditorContainer>.rightAlign{
    width: 100px;
    min-height: 30px;
    margin-bottom: 10px;
   flex-direction:column;
  align-self: flex-end;
}

